body {
  margin: 0;
  padding: 0;
  font-family: Public Sans;
  background-color: hsl(221, 39%, 11%) !important;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: "Raleway", Helvetica, Arial,  sans-serif;
}

div, label, h1, h2, h3, h4, h5, h6, p, input {
  color: #fff;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

/* Navbar */
.nav-items .active {
  color: #FFF;
}

.nav-items > .active::after {
  position: absolute;
  margin-top: 6px;
  width: 100%;
  height: 1px;
}

/* Webkit */
.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.btn.ofc-btn.active {
  background-color: #0096FF;
  color: #FFF;
}

.token-input {
  color: black !important;
}

.active.chat-side {
  background-color: #22c55e !important;
  border: none !important;
}

.active.chat-side > div > h2 {
  color: #e9e9e9 !important;
}

.loader span {
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    background: #0dff00;
    border-radius: 5px;
    animation: loader 0.8s infinite alternate;;
}
.loader span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
